.main_container {
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.post_container a {
  color: #ffc107;
}

.post_container {
  margin: 0 auto;
  padding: 20px;
  max-width: 40ch;
  color: #b7bcd2;
  line-height: 1.7rem;
  overflow: hidden;
}

.post_container > h3 {
  color: #7f9bee;
  text-align: center;
  font-size: 1.4rem;
  margin-top: 60px;
}

.post_container > figure {
  margin: 0px;
  width: 100%;
}

.post_container > pre {
  font-size: 0.8rem;
  border-radius: 10px;
}
.post_container > figure > img {
  width: 100%;
  height: auto;
}

.hero_container {
  padding: 30px 30px 0px 30px;
  margin: 0 auto;
}

.hero_image {
  width: 100%;
  margin-top: 0px;
}

.post_header {
  text-align: center;
  color: #e1deff;
  font-weight: bold;
  font-size: 1.5rem;
}

.tag_banner {
  margin-top: 50px;
  width: max-content;
  padding: 5px 15px 5px 15px;
  background-color: #7060ff;
  font-weight: bold;
  font-size: 0.8rem;
}

.gradient_bg_left {
  position: absolute;
  top: -10px;
  left: -150px;
  width: 100%;
  height: 1000px;
  background: radial-gradient(
    closest-side at 50% 50%,
    #aed1f0 0%,
    #1d0a0a00 100%
  );
  opacity: 0.25;
  z-index: -1;
}

@media (min-width: 40em) {
  .hero_container {
    width: 40%;
  }
}

@media (min-width: 100em) {
  .hero_container {
    width: 30%;
  }
}
