.post_title {
  font-weight: bold;
  line-height: 1.7em;
  color: #7f9bee;
}

.post_ex {
  font-size: 0.8rem;
  line-height: 1.7em;
  color: #e1deff;
}

.post_header {
  color: #e1deff;
}

.main_container {
  padding-top: 50px;
  margin: 0 auto;
  width: 45ch;
}

.post_container {
  z-index: 10;
  padding: 10px 40px 0px 40px;
  align-items: center;
  margin: 0 auto;
  max-width: 50ch;
}
