.home_bg {
  background-image: url("/images/1440biga.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
  overflow: hidden;
}

.footer {
  background-image: url("/images/footer.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
  height: 150px;
}

@media (min-width: 40em) {
  .footer {
    height: 449px;
  }
}

.hero_box {
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10vh;
}

.hero_title {
  font-weight: 900;
  line-height: 1em;
  font-size: 2.5rem;
  width: 12ch;
  text-align: center;
}

.hero_sub {
  text-align: center;
  line-height: 1.7em;
  width: 35ch;
}

.post_container {
  padding: 10px 40px 0px 40px;
  align-items: center;
  margin: 0 auto;
  max-width: 50ch;
}

.gradient_container {
  position: relative;
  z-index: 1;
}

.gradient_bg_left {
  position: absolute;
  top: -300px;
  left: -150px;
  width: 100%;
  height: 1000px;
  background: radial-gradient(
    closest-side at 50% 50%,
    #aed1f0 0%,
    #1d0a0a00 100%
  );
  opacity: 0.25;
  z-index: -1;
}

.gradient_bg_right {
  position: absolute;
  top: -250px;
  right: -150px;
  width: 100%;
  height: 1000px;
  background: radial-gradient(
    closest-side at 50% 50%,
    #e1deff 0%,
    #1d0a0a00 100%
  );
  opacity: 0.25;
  z-index: -1;
}

.view_more_link {
  margin: 50px 0px 50px 0px;
  text-align: center;
  text-decoration: none;
  color: #ffbc59;
}
